
@keyframes contentLoad
{
from {position:absolute;
		left:-800px;
		}
to {position:absolute;
		left:40px;}
}

@-moz-keyframes contentLoad /* Firefox */
{
from {position:absolute;
		left:-800px;}
to {position:absolute;
		left:40px;}
}

@-webkit-keyframes contentLoad /* Safari and Chrome */
{
from {position:absolute;
		left:-800px;}
to {position:absolute;
		left:40px;}
}

@-o-keyframes contentLoad /* Opera */
{
from {position:absolute;
		left:-800px;}
to {position:absolute;
		left:40px;}
}



@keyframes headerFooter
{
from {height:0px;}
to {height:60px;}
}

@-moz-keyframes headerFooter /* Firefox */
{
from {height:0px;}
to {height:60px;}
}

@-webkit-keyframes headerFooter /* Safari and Chrome */
{
from {height:0px;}
to {height:60px;}
}

@-o-keyframes headerFooter /* Opera */
{
from {height:0px;}
to {height:60px;}
}
.darkbox{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	z-index:-1;
}
.lightbox{
	border:2px solid #fff;
  
    background-color:#AE8E44;   
    border-radius:15px;
    -moz-border-radius:15px; 

    padding:15px;
	
	color: #000;
	width:180px;
	height:180px;
    opacity: 1;
    z-index:-1;
    position: fixed;
    top: 50%;
    left:50%;
    margin-left: -190px;
    margin-top: -190px;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

body{
	z-index: 1;
	background-color: #EB8424;
}

#winner{
	font-size:45pt;
	display: none;
}

.bigTitle{
	display:none;
	font-size: 45px;
	font-weight: 800;
}

td{
	height: 80px;
	width: 80px;
}

/*Tic Tac Toe Table*/
#gameTable{
	display: none;
	width: 250px;
	position: relative;
	top:230px;
	left:40px;
	z-index: 1;
}
table{
	
	border-collapse: collapse;
}

#controls{
	 position: absolute;
    left: 40px;
    top: 20px;
}
.content{
	border:2px solid #fff;
    color:#fff;
    background-color:#AE8E44;   
    border-radius:15px;
    -moz-border-radius:15px; 
    margin: 25px;
    margin-left:40px;
    position:relative;
    padding:15px;
   

}

.animationLoad{
	    animation:contentLoad 5s;
	-moz-animation:contentLoad 5s; /* Firefox */
	-webkit-animation:contentLoad 5s; /* Safari and Chrome */
	-o-animation:contentLoad 5s; /* Opera */
	z-index: 1;
}
.glow{
	 box-shadow: 20px 20px 15px #77a809;
}
.shadow{
	box-shadow: 20px 20px 15px #111111;
}
#btnQuit{
	display: none;
}

#btnNewGame{
	display: none;
}



#TD1{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-bottom: 3pt solid #000;
	border-right: 3pt solid #000;
	margin: 0px;
}
#TD2{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-right: 3pt solid #000;
	border-bottom: 3pt solid #000;
	border-left: 3pt solid #000000;
	margin: 0px;
}

#TD3{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-bottom: 3pt solid #000;
	border-left: 3pt solid #000000;
	margin: 0px;
}

#TD4{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-top: 3pt solid #000;
	border-bottom: 3pt solid #000;
	border-right: 3pt solid #000;
}

#TD5{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border: 3pt solid #000;
}

#TD6{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-top: 3pt solid #000;
	border-bottom: 3pt solid #000;
	border-left: 3pt solid #000;
}
#TD7{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-top: 3pt solid #000;
	border-right: 3pt solid #000;
}
#TD8{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-top: 3pt solid #000;
	border-left: 3pt solid #000;
	border-right: 3pt solid #000;
}
#TD9{
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	border-top: 3pt solid #000;
	border-left: 3pt solid #000;

}
header{
	z-index: 1;
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	vertical-align:middle;
	text-align: right;
	color:#fff;
	background-color: #333333;
	position:fixed;
	top:0px;
	left:0px;
	width: 100%;
	
	animation:headerFooter 5s;
-moz-animation:headerFooter 5s; /* Firefox */
-webkit-animation:headerFooter 5s; /* Safari and Chrome */
-o-animation:headerFooter 5s; /* Opera */
height: 60px;


}


footer{
	z-index: 1;
	background-color: #333333;
	position:fixed;
	bottom:0px;
	left:0px;
	width: 100%;
	color:#fff;
		animation:headerFooter 5s;
-moz-animation:headerFooter 5s; /* Firefox */
-webkit-animation:headerFooter 5s; /* Safari and Chrome */
-o-animation:headerFooter 5s; /* Opera */
height: 60px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.button:active {
	position:relative;
	top:1px;
}

.divTtt{
	width: 70px;
	color:#89c403;
	font-family: Bradley Hand ITC;
	font-size: 45pt;
	font-weight:bolder;
	text-align: center;
	background-color: inherit;
	}
